{% extends 'core/base.html' %}


{% block angularjs %}
<!-- <script src="http://cdn.btcly.com/static/assets/js/angular.min.js"></script> -->
<!-- <script src="http://cdn.btcly.com/static/assets/js/angular-resource.min.js"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
<script src="/static/assets/js/btcly.js?v=2"></script>
<script src="/static/assets/js/remote.js?v=2"></script>

{% endblock %}

{% block content %}
<div ng-view></div>
{% endblock %}
