{% load i18n %}

<!DOCTYPE html>
<html ng-app="btcly">
    <head>
        <title>{{ site_name }} - {% block title %}{% endblock %}</title>

            <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">

      {% block angularjs %}
          
      {% endblock %}
    </head>
<body>
      <div class="navbar fixed-null">
       <div class="navbar-inner">
         <div class="container">
           <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
           </a>
           <a class="brand" href="/">btcly.com</a>
         </div>
       </div>
      </div>
      <div class="container">
        {% block content %}

        {% endblock %}
      </div>
      
      {% verbatim %}
      {% endverbatim %}

    </body>
</html>
